<div class="loyalty-incentives" style="background: {{ settings.g_section_color }};">
  <div class="section_wrap">
    <h1 class="loyalty_title">{{ settings.loyalty_title_1 }}</h1>
    <h4 class="loyalty_subtitle">{{ settings.loyalty_subtitle_1 }}</h4>
    <div class="loyalty_description">
      <div class="loyalty_description__item">
        <div class="loyalty_description__item_header">
          After 1 month
        </div>
        <div class="loyalty_description__item_content">
          {{ settings.loyalty_description_1 }}
        </div>
      </div>
      <div class="loyalty_description__item">
        <div class="loyalty_description__item_header">
          After 3 months
        </div>
        <div class="loyalty_description__item_content">
          {{ settings.loyalty_description_2 }}
        </div>
      </div>
      <div class="loyalty_description__item">
        <div class="loyalty_description__item_header">
          After 12 months
        </div>
        <div class="loyalty_description__item_content">
          {{ settings.loyalty_description_3 }}
        </div>
      </div>
    </div>
  </div>
</div>
