{%- capture tabs %}
  {%- capture content %}<p><strong>The <span style="color: #0000ff;">blue </span>Furbliss brush is great to use on the following breeds:</strong></p>
<table width="100%">
<tbody>
<tr>
<td>Basenji</td>
<td>Basset Hound</td>
<td>Beagle</td>
</tr>
<tr>
<td>Boston Terrier</td>
<td>Cairn Terrier</td>
<td>Chihuahua</td>
</tr>
<tr>
<td>Cockapoo</td>
<td>Dachshund</td>
<td>French Bulldog</td>
</tr>
<tr>
<td>Italian Greyhound</td>
<td>Jack Russell Terrier</td>
<td>Lancashire Heeler</td>
</tr>
<tr>
<td>Maltese Shih Tzu</td>
<td>Maltipoo</td>
<td>Manchester Terrier</td>
</tr>
<tr>
<td>Miniature Pinscher</td>
<td>Peekapoo</td>
<td>Pocket Beagle</td>
</tr>
<tr>
<td>Pug</td>
<td>Puggle</td>
<td>Rat Terrier</td>
</tr>
<tr>
<td>Shiba Inu</td>
<td>Toy Fox Terrier</td>
<td>Yorkipoo</td>
</tr>
</tbody>
</table>
<p>(Examples only, not a complete list)</p>{% endcapture -%}
  59746^^Small Breeds^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6004609876148||||^^^^^^0^^~~
  {%- capture content %}<p><strong>The <span style="color: #0000ff;">blue </span>Furbliss brush is great to use on the following breeds:</strong></p>
<table width="100%" data-sanitized-data-mce-selected="1">
<tbody>
<tr>
<td>Akita</td>
<td>American Pitbull Terrier</td>
<td>Black/Tan Coonhound</td>
</tr>
<tr>
<td>Bloodhound</td>
<td>Bluetick Coonhound</td>
<td>Boxer</td>
</tr>
<tr>
<td>Brittany Spaniel</td>
<td>Bullmastiff</td>
<td>Cane Corso</td>
</tr>
<tr>
<td>Chesapeake Bay Retriever</td>
<td>Chinese Shar-Pei</td>
<td>Chinook</td>
</tr>
<tr>
<td>Dalmatian</td>
<td>Doberman Pinscher</td>
<td>Dogue de Bordeaux</td>
</tr>
<tr>
<td>English Foxhound</td>
<td>German Pinscher</td>
<td>German Shorthair Pointer</td>
</tr>
<tr>
<td>Giant Schnauzer</td>
<td>Goldador</td>
<td>Goldendoodle</td>
</tr>
<tr>
<td>Golden Retriever</td>
<td>Great Dane</td>
<td>Greyhound</td>
</tr>
<tr>
<td>Labrador Retriever</td>
<td>Mastiff</td>
<td>Neapolitan Mastiff</td>
</tr>
<tr>
<td>Pointer</td>
<td>Rhodesian Ridgeback</td>
<td data-sanitized-data-mce-selected="1">Rottweiler</td>
</tr>
<tr>
<td>Saluki</td>
<td>Viszla</td>
<td data-sanitized-data-mce-selected="1">Weimaraner</td>
</tr>
</tbody>
</table>
<p>(Examples only, not a complete list)</p>{% endcapture -%}
  59747^^Large Breeds^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6004609876148||||^^^^^^0^^~~
  {%- capture content %}<h3 class="elm text-edit gf-elm-center gf-elm-left-lg gf-elm-left-md gf-elm-left-sm gf-elm-left-xs" data-gemlang="en">International Shipping</h3>
<p>Glandex Wipes are available to ship internationally.</p>
<p><strong>Shipping Exceptions</strong></p>
<p><strong>Australia:</strong>&nbsp; Purchase at <a title="Glandex Australia - Best Anal Gland Supplements and Wipes for Dogs and Cats" href="https://glandex.com.au/" target="_blank" rel="noopener">www.glandex.com.au</a></p>
<div id="e-1584733755341" class="element-wrap" data-label="Heading" data-icon="gpicon-heading" data-ver="1" data-id="1584733755341">
<p>All international orders will be processed within 24-48 hours (pending credit card approval) during normal business hours Monday - Friday from 8:00 am to 5:00 pm Central Time. Orders placed outside of normal business hours or on weekends/holidays will be processed on the following business day.</p>
<p>Once the order has been processed and the payment has been received the order will be shipped via the delivery method selected. Shipping charges and fees are based on weight, location, and type of delivery service. Once the order is shipped we will send a confirmation email with both shipping and tracking information. <strong>Please Note: International delivery times will vary.</strong></p>
</div>{% endcapture -%}
  36334^^International Customers^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^11717088851,9284038087||||^^^^^^0^^~~
  {%- capture content %}<h3>Glandex&reg; Wipes Ingredients</h3>
<p>Purified Water, Cleansers, Aloe Leaf Juice, Natural Deodorizers, Vitamin E, Skin Conditioners, Moisturizer, Fragrance</p>
<p><strong>Safe for daily use in dogs &amp; cats. Non-toxic, alcohol, and paraben-free.</strong></p>{% endcapture -%}
  34883^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^11717088851,4379846934615,12072659987,9284038087,4370042159191,9284464711||||^^^^^^0^^~~
  {%- capture content %}<h3>Directions for Use</h3>
<p>Remove wipe from the container. Gently clean the anal region &amp; other parts of the body until clean. Discard wipes in the trash after use. Safe for daily use all over the pet's body including paws, coat, face, ears, and anal area. Keep container tightly closed when not in use.</p>{% endcapture -%}
  34884^^Directions for Use^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^11717088851,4379846934615,12072659987,9284038087,4370042159191,9284464711||||^^^^^^0^^~~
  {%- capture content %}<h3 class="elm text-edit gf-elm-center gf-elm-left-lg gf-elm-left-md gf-elm-left-sm gf-elm-left-xs" data-gemlang="en">International Shipping</h3>
<p>Glandex Soft Chews are available to ship internationally.</p>
<p><strong>Shipping Exceptions</strong></p>
<p><strong>Australia:</strong>&nbsp; Purchase at <a title="Glandex Australia - Best Anal Gland Supplements and Wipes for Dogs and Cats" href="https://glandex.com.au/" target="_blank" rel="noopener">www.glandex.com.au</a></p>
<div id="e-1584733755341" class="element-wrap" data-label="Heading" data-icon="gpicon-heading" data-ver="1" data-id="1584733755341">
<p>All international orders will be processed within 24-48 hours (pending credit card approval) during normal business hours Monday - Friday from 8:00 am to 5:00 pm Central Time. Orders placed outside of normal business hours or on weekends/holidays will be processed on the following business day.</p>
<p>Once the order has been processed and the payment has been received the order will be shipped via the delivery method selected. Shipping charges and fees are based on weight, location, and type of delivery service. Once the order is shipped we will send a confirmation email with both shipping and tracking information. <strong>Please Note: International delivery times will vary.</strong></p>
</div>{% endcapture -%}
  35601^^International Customers^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^5764501255,7992563463,999014401||||^^^^^^0^^~~
  {%- capture content %}<h3 class="elm text-edit gf-elm-center gf-elm-left-lg gf-elm-left-md gf-elm-left-sm gf-elm-left-xs" data-gemlang="en">International Shipping</h3>
<p>Glandex <em>Pork Liver</em> and <em>Vegan Salmon Flavored</em> Powders are available to ship to US and Canada. <strong>Beef Liver Flavor is a US only product.</strong></p>
<p><strong>Shipping Exceptions</strong></p>
<p><strong>Australia:</strong>&nbsp; Purchase at <a title="Glandex Australia - Best Anal Gland Supplements and Wipes for Dogs and Cats" href="https://glandex.com.au/" target="_blank" rel="noopener">www.glandex.com.au</a><br /><strong>All Other Countries:</strong> Purchase <a title="Glandex&reg; Soft Chews" href="https://www.glandex.com/collections/glandex-soft-chews-for-dogs" target="_blank" rel="noopener">Soft Chews</a></p>
<div id="e-1584733755341" class="element-wrap" data-label="Heading" data-icon="gpicon-heading" data-ver="1" data-id="1584733755341">
<p>All international orders will be processed within 24-48 hours (pending credit card approval) during normal business hours Monday - Friday from 8:00 am to 5:00 pm Central Time. Orders placed outside of normal business hours or on weekends/holidays will be processed on the following business day.</p>
<p>Once the order has been processed and the payment has been received the order will be shipped via the delivery method selected. Shipping charges and fees are based on weight, location, and type of delivery service. Once the order is shipped we will send a confirmation email with both shipping and tracking information. <strong>Please Note: International delivery times will vary.</strong></p>
</div>{% endcapture -%}
  35604^^International Customers^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^719897473,534764929,592486465||||^^^^^^0^^~~
  {%- capture content %}<h3>Benefits of Dermabliss</h3>
<p>Dermabliss&trade; is beneficial for dogs with seasonal allergies as it promotes a normal immune and inflammatory response. Dermabliss Soft Chews provide a convenient way to support your pet&rsquo;s skin health and can be used in conjunction with other allergy treatments.</p>
<ul>
<li>TriMega&trade; Omega 3-6-9 complex to maintain a healthy skin barrier</li>
<li>Added Bovine Colostrum to promote a healthy immune response to seasonal allergens</li>
<li>Lactospore&reg; Probiotics to help support intestinal &amp; immune health</li>
<li>Quercetin, Bromelain, &amp; Licorice Root to support a healthy inflammatory &amp; histamine response</li>
<li>Antioxidants for added seasonal allergy &amp; immune support</li>
</ul>{% endcapture -%}
  63762^^Benefits of Dermabliss^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6004611088564,6004611514548,6004611383476||||^^^^1^^0^^~~
  {%- capture content %}<h3>How Glandex&reg; Works</h3>
<p>Glandex works in multiple ways from the inside out to keep the anal glands healthy. Glandex's <strong>patented</strong> formula uses a unique fiber blend to support bulky and firm stools to assist the natural emptying of the anal glands every time your pet defecates. Other key ingredients including omega fatty acids also help support a healthy inflammatory response and maintain normal histamine levels in pets with seasonal allergies. Glandex also contains probiotics and digestive enzymes to support a healthy digestive tract, which in turn supports healthy anal gland function.</p>
<ul>
<li>Unique fiber blend including pumpkin seed to bulk and firm the stools which helps support the natural emptying of the anal glands</li>
<li>Omega fatty acids and other key ingredients that support pets with seasonal allergies and a healthy inflammatory response</li>
<li>Probiotics, prebiotics, &amp; digestive enzymes support healthy digestion &amp; <span data-sanitized-data-mce-style="font-weight: 400;" data-sanitized-data-mce-fragment="1">enhance the immune response</span></li>
</ul>
<h3 style="margin: 0px 0px 1em; line-height: 1.4;">Benefits of Glandex&reg;</h3>
<ul>
<li>Supports healthy anal gland function in pets</li>
<li>Typical results in 3-5 weeks, 100% satisfaction guaranteed</li>
<li>Veterinarian formulated &amp; recommended</li>
<li>Once-daily soft chew or powder in a variety of great tasting flavors</li>
<li>Patented all-natural formula, made in the USA</li>
</ul>{% endcapture -%}
  34862^^How Glandex® Works^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^1592761155671,719897473,534764929,592486465,5764501255,7992563463,999014401,6872811536564,6004610367668,6004608925876||||^^6087032438964,6087058456756,6087051641012,6172835315892,6004611088564,6004611514548,6004611383476,6004609876148,6004611285172,6004610072756,6004610039988,6004611219636,6004608663732,6004608729268,6004610171060,6004611776692,6004609941684,6004611252404,6004610105524,6004609908916,6004610531508,6004610465972,6004609450164,4626987286615,11717088851,6004609974452,9284038087,6004609843380,722362433,719997505,6165275738292,6087500300468,6087485980852,6004608893108,6004610007220,6004608598196,6004608008372,6004609515700^^1^^0^^~~
  {%- capture content %}<h3>Glandex&reg; Beef Liver Powder Ingredients</h3>
<table style="width: 100%; height: 152px;" border="1" width="100%">
<tbody>
<tr style="height: 19px;">
<th style="background-color: #16b9ee; color: #ffffff; width: 75%; height: 19px;" scope="col"><span style="color: #ffffff;">Active Ingredients per Teaspoon (2.96 g )</span></th>
<th style="background-color: #16b9ee; color: #ffffff; width: 25%; height: 19px;" scope="col">Amount</th>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Pumpkin Seed Powder</td>
<td style="width: 25%; height: 19px;">623 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Granulated Pumpkin Seed</td>
<td style="width: 25%; height: 19px;">267 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Apple Pectin Cellulose Powder</td>
<td style="width: 25%; height: 19px;">135 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Quercetin Dihydrate</td>
<td style="width: 25%; height: 19px;">100 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Lactobacillus acidophilus (480m CFUs)</td>
<td style="width: 25%; height: 19px;">96 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Bromelain</td>
<td style="width: 25%; height: 19px;">60 mg</td>
</tr>
</tbody>
</table>
<h4><strong>Inactive Ingredients</strong></h4>
<p><strong>Beef Liver Flavor<br /></strong>Desiccated Beef Powder (real beef liver), Rice Flour</p>
<h3>Glandex&reg; Pork Liver &amp; Vegan Powder Ingredients</h3>
<table style="width: 100%; height: 152px;" border="1" width="100%">
<tbody>
<tr style="height: 19px;">
<th style="background-color: #16b9ee; color: #ffffff; width: 75%; height: 19px;" scope="col"><span style="color: #ffffff;">Active Ingredients per Teaspoon (2.96 g )</span></th>
<th style="background-color: #16b9ee; color: #ffffff; width: 25%; height: 19px;" scope="col">Amount</th>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Pumpkin Seed Powder</td>
<td style="width: 25%; height: 19px;">623 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Granulated Pumpkin Seed</td>
<td style="width: 25%; height: 19px;">267 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Apple Pectin Cellulose Powder</td>
<td style="width: 25%; height: 19px;">135 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Quercetin Dihydrate</td>
<td style="width: 25%; height: 19px;">100 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Bromelain</td>
<td style="width: 25%; height: 19px;">60 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">E. faecium (1.9 Billion CFUs)</td>
<td style="width: 25%; height: 19px;">57 mg</td>
</tr>
</tbody>
</table>
<h4><strong>Inactive Ingredients</strong></h4>
<p><strong>Pork Liver Flavor<br /></strong>Desiccated Pork Powder (real pork liver), Rice Flour</p>
<p><strong>Vegan Salmon Flavor<br /></strong>Vegan Salmon Flavoring, Rice Starch</p>{% endcapture -%}
  34875^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^719897473,534764929,592486465||||^^^^^^0^^~~
  {%- capture content %}<h3>Glandex&reg; Soft Chew Ingredients</h3>
<table style="width: 100%;" border="1" width="100%">
<tbody>
<tr>
<th style="background-color: #16b9ee; color: #ffffff; width: 75%;" scope="col">Active Ingredients per Chew (4 grams)</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 25%;" scope="col">Amount</th>
</tr>
<tr>
<td style="width: 75%;">Pumpkin Seed Powder</td>
<td style="width: 25%;">158 mg</td>
</tr>
<tr>
<td style="width: 75%;">Granulated Pumpkin Seed</td>
<td style="width: 25%;">68 mg</td>
</tr>
<tr>
<td style="width: 75%;">Apple Pectin Cellulose Powder</td>
<td style="width: 25%;">34 mg</td>
</tr>
<tr>
<td style="width: 75%;">Quercetin Dihydrate</td>
<td style="width: 25%;">25 mg</td>
</tr>
<tr>
<td style="width: 75%;">Lactobacillus acidophilus (480m CFUs)</td>
<td style="width: 25%;">24 mg</td>
</tr>
<tr>
<td style="width: 75%;">D-Alpha Tocopherol (Vit E) 10 IU</td>
<td style="width: 25%;">16 mg</td>
</tr>
<tr>
<td style="width: 75%;">Bromelain</td>
<td style="width: 25%;">15 mg</td>
</tr>
<tr>
<td style="width: 75%;">Ascorbic Acid (Vit C)</td>
<td style="width: 25%;">10 mg</td>
</tr>
</tbody>
</table>
<h4>Inactive Ingredients</h4>
<p><strong>Peanut Butter Flavor<br /></strong>Canola Oil, Dehydrated Peanut Butter, Flaxseed Oil, Glycerin, Peanut Butter, Potato Starch, Rice Bran, Sorbic Acid (Natural Preservative), Sucrose, Sunflower Lecithin, Water</p>
<p><strong>Pork Liver Flavor<br /></strong>Canola Oil, Desiccated Pork Liver Powder, Flaxseed Oil, Glycerin, Potato Starch, Rice Bran, Sorbic Acid (Natural Preservative), Sunflower Lecithin, Water</p>{% endcapture -%}
  34876^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^5764501255,7992563463,999014401,4379535409239,4379535605847||||^^^^^^0^^~~
  {%- capture content %}<h3>INSTRUCTIONS FOR GLANDEX&reg; USE</h3>
<p><strong>When using Glandex&reg; for the first time, please give half (1/2) of the recommended amount once daily for the first 5-7 days to allow your pet to adjust to the higher fiber content, and then gradually increase to the recommended amount.</strong> Typical results are in 3-5 weeks, however optimal results may take up to 2-3 months. If you haven&rsquo;t seen improvement after the first 30 days, it is recommended to double the daily amount as some pets need a higher amount of fiber to see results.</p>
<h3>GLANDEX&reg; POWDER ADMINISTRATION</h3>
<table style="width: 100%;" border="1" width="100%">
<tbody>
<tr>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Pet's Weight</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Daily Amount</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 2.5 oz Bottle</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 4.0 oz Bottle</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 5.5 oz Bottle</th>
</tr>
<tr>
<td style="width: 17%;">Dogs under 15 lbs &amp; Cats</td>
<td style="width: 17%;">1/8 teaspoon</td>
<td style="width: 22%;">&nbsp;200 (6 months)</td>
<td style="width: 22%;">&nbsp;320 (10 months)</td>
<td style="width: 22%;">&nbsp;440 (14 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 15-25 lbs</td>
<td style="width: 17%;">1/4 teaspoon</td>
<td style="width: 22%;">&nbsp;100 (3 months)</td>
<td style="width: 22%;">&nbsp;160 (5 months)</td>
<td style="width: 22%;">&nbsp;220 (7 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 26-50 lbs</td>
<td style="width: 17%;">1/2 teaspoon</td>
<td style="width: 22%;">&nbsp;50 (1.5 months)</td>
<td style="width: 22%;">&nbsp;80 (2.5 months)</td>
<td style="width: 22%;">&nbsp;100 (3.5 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 51-75 lbs</td>
<td style="width: 17%;">3/4 teaspoon</td>
<td style="width: 22%;">&nbsp;32 (1 month)</td>
<td style="width: 22%;">&nbsp;51 (1.5 months)</td>
<td style="width: 22%;">&nbsp;70 (2 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs over 76 lbs</td>
<td style="width: 17%;">1 teaspoon</td>
<td style="width: 22%;">&nbsp;25 (3 weeks)</td>
<td style="width: 22%;">&nbsp;40 (5 weeks)</td>
<td style="width: 22%;">&nbsp;55 (7 weeks)</td>
</tr>
</tbody>
</table>{% endcapture -%}
  34863^^Instructions & Administration^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^719897473,534764929,592486465||||^^^^^^0^^~~
  {%- capture content %}<h3>INSTRUCTIONS FOR GLANDEX&reg; USE</h3>
<p><strong>When using Glandex&reg; for the first time, please give half (&frac12;) of the recommended amount once daily for the first 5-7 days to allow your pet to adjust to the higher fiber content, and then gradually increase to the recommended amount.</strong> Typical results are in 3-5 weeks, however optimal results may take up to 2-3 months. If you haven&rsquo;t seen improvement after the first 30 days, it is recommended to double the daily amount as some pets need a higher amount of fiber to see results.</p>
<h3>GLANDEX&reg; SOFT CHEW ADMINISTRATION</h3>
<table style="width: 100%;" border="1" width="100%">
<tbody>
<tr>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Dog's Weight</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Daily Amount</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 30 ct Pouch</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 60 ct Jar</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 120 ct Jar</th>
</tr>
<tr>
<td style="width: 17%;">Dogs under 15 lbs</td>
<td style="width: 17%;">1/2 Chew</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
<td style="width: 22%;">&nbsp;120 (4 months)</td>
<td style="width: 22%;">&nbsp;240 (8 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 15-25 lbs</td>
<td style="width: 17%;">1 Chew</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
<td style="width: 22%;">&nbsp;120 (4 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 26-50 lbs</td>
<td style="width: 17%;">2 Chews</td>
<td style="width: 22%;">&nbsp;15 (2 weeks)</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 51-75 lbs</td>
<td style="width: 17%;">3 Chews</td>
<td style="width: 22%;">&nbsp;10 (1.5 weeks)</td>
<td style="width: 22%;">&nbsp;20 (3 weeks)</td>
<td style="width: 22%;">&nbsp;40 (1.5 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs over 76 lbs</td>
<td style="width: 17%;">4 Chews</td>
<td style="width: 22%;">&nbsp;7.5 (1 week)</td>
<td style="width: 22%;">&nbsp;15 (2 weeks)</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
</tr>
</tbody>
</table>{% endcapture -%}
  34874^^Instructions & Administration^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^5764501255,7992563463,999014401,4379535409239,4379535605847||||^^^^^^0^^~~
  {%- capture content %}<p><strong>The <span style="color: #38761d;">green&nbsp;</span>Furbliss brush is great to use on the following breeds:</strong></p>
<table width="100%">
<tbody>
<tr>
<td>American Eskimo</td>
<td>Australian Terrier</td>
<td>Bichon Frise</td>
</tr>
<tr>
<td>Bolognese</td>
<td>Cavalier King Charles</td>
<td>Cesky Terrier</td>
</tr>
<tr>
<td>Cocker Spaniel</td>
<td>Havanese</td>
<td>Japanese Chin</td>
</tr>
<tr>
<td>Lhasa Apso</td>
<td>Lowchen</td>
<td>Maltese</td>
</tr>
<tr>
<td>Papillon</td>
<td>Pekingese</td>
<td>Pomeranian</td>
</tr>
<tr>
<td>Scottish Terrier</td>
<td>Shetland Sheepdog</td>
<td>Shih Tzu</td>
</tr>
<tr>
<td>Silky Terrier</td>
<td>Tibetan Terrier</td>
<td>Yorkshire Terrier</td>
</tr>
</tbody>
</table>
<p>(Examples only, not a complete list)</p>{% endcapture -%}
  61701^^Small Breeds^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6004611285172||||^^^^^^0^^~~
  {%- capture content %}<p><strong>The <span style="color: #38761d;">green&nbsp;</span>Furbliss brush is great to use on the following breeds:</strong></p>
<table width="100%">
<tbody>
<tr>
<td>Afghan Hound</td>
<td>Alaskan Malamute</td>
<td>Australian Shepherd</td>
</tr>
<tr>
<td>Bearded Collie</td>
<td>Belgian Sheepdog</td>
<td>Bernese Mountain Dog</td>
</tr>
<tr>
<td>Chow Chow</td>
<td>Collie</td>
<td>English Setter</td>
</tr>
<tr>
<td>German Shepherd</td>
<td>Goldendoodle</td>
<td>Golden Retreiver</td>
</tr>
<tr>
<td>Great Pyrenees</td>
<td>Irish Setter</td>
<td>Irish Wolfhound</td>
</tr>
<tr>
<td>Newfoundland</td>
<td>Old English Sheepdog</td>
<td>Otterhound</td>
</tr>
<tr>
<td>Saint Bernard</td>
<td>Samoyed</td>
<td>Siberian Husky</td>
</tr>
</tbody>
</table>
<p>(Examples only, not a complete list)</p>{% endcapture -%}
  61702^^Large Breeds^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6004611285172||||^^^^^^0^^~~
  {%- capture content %}<h3>Seniorbliss&trade; Soft Chew Ingredients</h3>
<table style="width: 100%; height: 190px;" border="1" width="100%">
<tbody>
<tr style="height: 19px;">
<th style="background-color: #16b9ee; color: #ffffff; width: 75.0706%; height: 19px;" scope="col">Active Ingredients per Chew (4 grams)</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 25.0235%; height: 19px;" scope="col">Amount</th>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Glucosamine Hydrochloride</td>
<td style="width: 25.0235%; height: 19px;">400 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">TriMega&trade; Omega Complex&nbsp;</td>
<td style="width: 25.0235%; height: 19px;">375 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">MSM</td>
<td style="width: 25.0235%; height: 19px;">175 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Chondroitin Sulfate (Bovine)</td>
<td style="width: 25.0235%; height: 19px;">100 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Boswellia Extract</td>
<td style="width: 25.0235%; height: 19px;">75 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Turmeric</td>
<td style="width: 25.0235%; height: 19px;">50 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Vitamin C</td>
<td style="width: 25.0235%; height: 19px;">25 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Hydrolyzed Collagen Peptide</td>
<td style="width: 25.0235%; height: 19px;">20 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Enzyme Blend (Protease, Amyloglucoside, Bromelain)</td>
<td style="width: 25.0235%; height: 19px;">15 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Egg Shell Membrane</td>
<td style="width: 25.0235%;">10 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Sodium Hyaluronate</td>
<td style="width: 25.0235%;">8 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Lactospore&reg;</td>
<td style="width: 25.0235%;">250 Million CFUs</td>
</tr>
<tr>
<td style="width: 75.0706%;">Niacin (B3)</td>
<td style="width: 25.0235%;">2.5 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Iron (Ferrous Gluconate)</td>
<td style="width: 25.0235%;">1.5 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Zinc (Zinc Gluconate)</td>
<td style="width: 25.0235%;">1 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Vitamin A (500 IU)</td>
<td style="width: 25.0235%;">1 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Manganese (Manganese Gluconate)</td>
<td style="width: 25.0235%;">200 mcg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Astaxanthin</td>
<td style="width: 25.0235%;">100 mcg</td>
</tr>
</tbody>
</table>
<h4>Inactive Ingredients</h4>
<p>Apple Pectin, Arabic Gum, Bacon Flavor, Brewer&rsquo;s Yeast, Chickpea Flour, Cooked Chicken Powder, Fish Oil, Flaxseed Oil, Hickory Flavor, Natural Flavor, Pea Protein, Purified Water, Safflower Oil, Sunflower Lecithin, Vegetable Glycerin, Wild Alaskan Salmon Oil</p>{% endcapture -%}
  76651^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7039910183092,7039908544692,7039909134516||||^^^^^^0^^~~
  {%- capture content %}<h3>3 Month. Hassle Free.&nbsp;No Questions Asked.</h3>
<div id="e-1593017502522" class="element-wrap" data-label="Text Block" data-icon="gpicon-textblock" data-ver="1" data-id="1593017502522">
<div class="elm text-edit gf-elm-left gf-elm-left-xs gf-elm-left-md gf-elm-left-sm gf-elm-left-lg" data-gemlang="en" data-exc="">
<p>At Vetnique Labs LLC, we stand behind our products and quality controls. We are so confident that you will be pleased with our products for your pet that we offer a <a title="Satisfaction Guarantee" href="https://www.glandex.com/pages/glandex-100-satisfaction-guarantee" target="_blank" rel="noopener">3-month hassle-free guarantee</a>. If for any reason you are not fully satisfied with a Vetnique Labs pet product you purchased from Vetnique Labs or one of our <a title="authorized retailer or seller" href="https://www.glandex.com/pages/authorized-sellers" target="_blank" rel="noopener">authorized resellers</a>, you may request a full refund of the purchase price of the product or a replacement product within 3 months of the date of original purchase.</p>
<p>We strive to be a different kind of company where we stand behind our word and our commitment to be better. We promise to deliver only the highest quality pet supplements and to help improve the health and well-being of your pet. Unlike most companies that make it difficult to contact them, we offer many easy ways to get in touch! You can <a title="Contact Us" href="https://www.glandex.com/pages/contact-us" target="_blank" rel="noopener">contact us</a> at any time at 1-800-643-7558, chat using our online feature, or send us an email at support@vetnique.com.</p>
<p>To submit a Guarantee request, please have information available regarding where and when you purchased your product when you contact us.&nbsp; If your request is approved, you will then need to send us proof of purchase. You must submit your Guarantee request within three (3) months of the date of original purchase. The Guarantee is limited to the original, end-user purchaser.</p>
<p>Please note that we reserve the right to verify information, require a valid proof of purchase, require you to return your product to us, and to deny Satisfaction Guarantee requests in its discretion in cases of suspected fraud or if the purchaser has abused the Satisfaction Guarantee.</p>
<p>Thank you for being a loyal customer and for allowing us to be involved in the wellness of your pet!</p>
</div>
</div>
<div id="r-1593017502478" class="gf_row gf_row-gap-0" data-label="Row" data-icon="gpicon-row" data-id="1593017502478" data-row-gap="0px" data-extraclass="">
<div id="c-1585942206896" class="gf_column gf_col-lg-8 gf_col-md-8 gf_col-sm-6 gf_col-xs-12" data-id="1585942206896">
<div id="e-1593017502568" class="element-wrap" data-label="Text Block" data-icon="gpicon-textblock" data-ver="1" data-id="1593017502568">
<div class="elm text-edit gf-elm-left" data-gemlang="en">
<p><strong>Our Commitment<br /></strong></p>
<ul>
<li>100% satisfaction guarantee on all of our products</li>
<li>The highest quality supplements using only premium ingredients</li>
<li>Made in the USA at an FDA registered &amp; cGMP compliant facility</li>
<li>Friendly and personalized customer support</li>
</ul>
</div>
</div>
</div>
</div>{% endcapture -%}
  34877^^100% Satisfaction Guarantee^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^722362433^^^^0^^~~
  {%- capture content %}<h3>Directions for Use</h3>
<p>Give recommended amount once daily. <strong>When starting Seniorbliss&trade; give 1/2 the recommended amount for the first 5&ndash;7 days.</strong> Store in a cool, dry place. For use in dogs 7 years and up.</p>
<h3>Seniorbliss&trade; Soft Chew Administration</h3>
<table style="width: 100%;" border="1" width="100%">
<tbody>
<tr>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Dog's Weight</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Daily Amount</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 30 ct Pouch</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 60 ct Jar</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 120 ct Jar</th>
</tr>
<tr>
<td style="width: 17%;">Dogs under 15 lbs</td>
<td style="width: 17%;">1/2 Chew</td>
<td style="width: 22%;">&nbsp;60 (2 month)</td>
<td style="width: 22%;">&nbsp;120 (4 months)</td>
<td style="width: 22%;">&nbsp;240 (8 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 15-25 lbs</td>
<td style="width: 17%;">1 Chew</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
<td style="width: 22%;">&nbsp;120 (3 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 26-50 lbs</td>
<td style="width: 17%;">2 Chews</td>
<td style="width: 22%;">&nbsp;15 (2 weeks)</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 51-75 lbs</td>
<td style="width: 17%;">3 Chews</td>
<td style="width: 22%;">&nbsp;10 (1.5 weeks)</td>
<td style="width: 22%;">&nbsp;20 (3 weeks)</td>
<td style="width: 22%;">&nbsp;40 (1.5 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs over 75 lbs</td>
<td style="width: 17%;">4 Chews</td>
<td style="width: 22%;">&nbsp;7 (1 weeks)</td>
<td style="width: 22%;">&nbsp;15 (2 weeks)</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
</tr>
</tbody>
</table>{% endcapture -%}
  76650^^Instructions & Administration^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7039910183092,7039908544692,7039909134516||||^^^^^^0^^~~
  {%- capture content %}<h3>Directions for Use</h3>
<p>Give recommended amount once daily . <strong>When starting Activebliss&trade; give 1/2 the recommended amount for the first 5&ndash;7 days.</strong> Store in a cool, dry place. For use in dogs over 12 weeks of age.&nbsp;</p>
<h3>Activebliss&trade; Soft Chew Administration</h3>
<table style="width: 100%;" border="1" width="100%">
<tbody>
<tr>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Dog's Weight</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Daily Amount</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 30 ct Pouch</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 60 ct Jar</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 120 ct Jar</th>
</tr>
<tr>
<td style="width: 17%;">Dogs under 15 lbs</td>
<td style="width: 17%;">1/2 Chew</td>
<td style="width: 22%;">&nbsp;60 (2 month)</td>
<td style="width: 22%;">&nbsp;120 (4 months)</td>
<td style="width: 22%;">&nbsp;240 (8 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 15-25 lbs</td>
<td style="width: 17%;">1 Chew</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
<td style="width: 22%;">&nbsp;120 (3 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 26-50 lbs</td>
<td style="width: 17%;">2 Chews</td>
<td style="width: 22%;">&nbsp;15 (2 weeks)</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 51-75 lbs</td>
<td style="width: 17%;">3 Chews</td>
<td style="width: 22%;">&nbsp;10 (1.5 weeks)</td>
<td style="width: 22%;">&nbsp;20 (3 weeks)</td>
<td style="width: 22%;">&nbsp;40 (1.5 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs over 75 lbs</td>
<td style="width: 17%;">4 Chews</td>
<td style="width: 22%;">&nbsp;7 (1 weeks)</td>
<td style="width: 22%;">&nbsp;15 (2 weeks)</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
</tr>
</tbody>
</table>{% endcapture -%}
  76654^^Instructions & Administration^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6950954893492,6950957056180,6950958825652||||^^^^^^0^^~~
  {%- capture content %}<h3>How Activebliss&trade; Works</h3>
<p>Activebliss works from the inside out in multiple ways to support joint function while maintaining cartilage and connective tissue health. The unique veterinary formulation combines powerful joint support ingredients to help provide the building blocks for joint fluid, cartilage, and connective tissues. Each chew contains powerful ingredients like Glucosamine, which may stimulate the production of proteoglycans which help maintain the health and resiliency of joints and connective tissue. Other key ingredients include Methylsulfonylmethane (MSM), Eggshell Membrane, Boswellia, Omega Fatty Acids, and Antioxidants.</p>
<ul>
<li aria-level="1">The unique formula supports joint function while maintaining cartilage &amp; connective tissue health</li>
<li aria-level="1">Glucosamine &amp; MSM and other key ingredients to help promote cartilage development &amp; provide connective tissue support</li>
<li aria-level="1">Omega fatty acids that are vital to everyday health, strong muscles, and healthy joints</li>
<li aria-level="1">Provides antioxidants &amp; supports a healthy inflammatory response with Tumeric</li>
</ul>{% endcapture -%}
  76653^^How Activebliss™ Works^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6950954893492,6950957056180,6950958825652||||^^^^1^^0^^~~
  {%- capture content %}<h3>Activebliss&trade; Soft Chew Ingredients</h3>
<table style="width: 100%; height: 190px;" border="1" width="100%">
<tbody>
<tr style="height: 19px;">
<th style="background-color: #16b9ee; color: #ffffff; width: 75%; height: 19px;" scope="col">Active Ingredients per Chew (4 grams)</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 25%; height: 19px;" scope="col">Amount</th>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">TriMega&trade; Omega Complex</td>
<td style="width: 25%; height: 19px;">480 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Glucosamine HCL (Shellfish)</td>
<td style="width: 25%; height: 19px;">350 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">MSM</td>
<td style="width: 25%; height: 19px;">200 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Chondroitin Sulfate (Bovine)</td>
<td style="width: 25%; height: 19px;">150 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Boswellia Extract</td>
<td style="width: 25%; height: 19px;">50 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Turmeric</td>
<td style="width: 25%; height: 19px;">25 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Biovaplex Hydrolized Eggshell Membrane</td>
<td style="width: 25%; height: 19px;">25 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Ascorbic Acid</td>
<td style="width: 25%; height: 19px;">10 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Vitamin E (10 IU)</td>
<td style="width: 25%; height: 19px;">10 mg</td>
</tr>
<tr>
<td style="width: 75%;">Hyaluronic Acid</td>
<td style="width: 25%;">8 mg</td>
</tr>
</tbody>
</table>
<h4>Inactive Ingredients</h4>
<p>Chickpea Flour, Flaxseed Meal, Glycerine, Mixed Tocopherols, Natural Flavor, Natural Hickory Smoke Flavor, Rosemary Extract, Sorbic Acid, Sunflower Lecithin Oil, Tapioca Flour, Vegetarian Chicken Flavoring, Water</p>{% endcapture -%}
  76655^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6950954893492,6950957056180,6950958825652||||^^^^^^0^^~~
  {%- capture content %}<p>Dermabliss is recommended by veterinarians to support dogs&rsquo; overall health and wellness. Each once-daily salmon-flavored chew helps provide Omega Fatty Acids, essential in supporting healthy skin, immune system, mobility, cognition, and heart function, and additional key vitamins and minerals help to further maintain your pet&rsquo;s health. Add our omega chews into your dog's diet to help them <strong><em>ditch the itch!</em></strong>&trade;*</p>
<ul>
<li aria-level="1"><strong>TriMega&trade; Omega 3-6-9 complex + EPA &amp; DHA</strong> naturally sourced from Sunflower Oil, Wild Alaskan Salmon Oil, Fish Oil, Flaxseed Oil, Krill Oil &amp; Safflower Oil</li>
<li aria-level="1"><strong>Biotin</strong> to promote vibrant and moisturized skin, promote strong nails, and help support natural inflammatory processes</li>
<li aria-level="1"><strong>Vitamin C</strong> to help maintain healthy inflammatory responses &amp; promote cognition as dogs age</li>
<li aria-level="1"><strong>Vitamin E </strong>to support the immune system&rsquo;s response to oxidative properties and helps maintain healthy muscles, heart, liver, and skin.</li>
<li aria-level="1"><strong>Zinc</strong> to help maintain healthy immune system &amp; thyroid functions</li>
</ul>{% endcapture -%}
  76656^^How Dermabliss™ Works^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7039830294708,7039829180596,7039829639348||||^^^^1^^0^^~~
  {%- capture content %}<h3>INSTRUCTIONS FOR DERMABLISS&trade; USE</h3>
<p>When using Dermabliss&trade; Soft Chews for the first time, please give &frac12; the recommended amount once daily for the first 5-7 days, and then gradually increase to the recommended amount.</p>
<h3>Dermabliss&trade; Soft Chew Administration</h3>
<table style="width: 100%;" border="1" width="100%">
<tbody>
<tr>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Dog's Weight</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Daily Amount</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 30 ct Pouch</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 60 ct Jar</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 120 ct Jar</th>
</tr>
<tr>
<td style="width: 17%;">Dogs under 25 lbs</td>
<td style="width: 17%;">1 Chew</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
<td style="width: 22%;">&nbsp;120 (4 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 26-75 lbs</td>
<td style="width: 17%;">2 Chews</td>
<td style="width: 22%;">&nbsp;15 (2 weeks)</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs over 75 lbs</td>
<td style="width: 17%;">3 Chews</td>
<td style="width: 22%;">&nbsp;10 (1.5 weeks)</td>
<td style="width: 22%;">&nbsp;20 (3 weeks)</td>
<td style="width: 22%;">&nbsp;40 (1.5 months)</td>
</tr>
</tbody>
</table>{% endcapture -%}
  63763^^Instructions & Administration^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6004611088564,6004611514548,6004611383476,7039830294708,7039829180596,7039829639348||||^^^^^^0^^~~
  {%- capture content %}<h3>Dermabliss&trade; Omega &amp; Skin Soft Chew Ingredients</h3>
<table style="width: 100%; height: 171px;" border="1" width="100%">
<tbody>
<tr style="height: 19px;">
<th style="background-color: #16b9ee; color: #ffffff; width: 75%; height: 19px;" scope="col">Active Ingredients per Chew (4 grams)</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 25%; height: 19px;" scope="col">Amount</th>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Fish Oil (Omega 3)</td>
<td style="width: 25%; height: 19px;">225 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Sunflower Lecithin (Omegas 6 &amp; 9)</td>
<td style="width: 25%; height: 19px;">120 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">EPA</td>
<td style="width: 25%; height: 19px;">90 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Wild Alaskan Salmon Oil (Omega 3)</td>
<td style="width: 25%; height: 19px;">75 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">DHA</td>
<td style="width: 25%; height: 19px;">60 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Krill Oil</td>
<td style="width: 25%; height: 19px;">50 mg</td>
</tr>
<tr>
<td style="width: 75%;">Safflower Oil</td>
<td style="width: 25%;">40 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Flaxseed Oil (Omegas 3, 6, 9)</td>
<td style="width: 25%; height: 19px;">20 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75%; height: 19px;">Ascorbic Acid (Vitamin C)</td>
<td style="width: 25%; height: 19px;">20 mg</td>
</tr>
<tr>
<td style="width: 75%;">Vitamin E (8 IU)</td>
<td style="width: 25%;">13 mg</td>
</tr>
<tr>
<td style="width: 75%;">Zinc Gluconate</td>
<td style="width: 25%;">1 mg</td>
</tr>
<tr>
<td style="width: 75%;">Folic Acid (Vitamin B9)</td>
<td style="width: 25%;">200 mcg</td>
</tr>
<tr>
<td style="width: 75%;">Biotin</td>
<td style="width: 25%;">12 mcg</td>
</tr>
</tbody>
</table>
<h4>Inactive Ingredients</h4>
<p>Chickpea Flour, Flaxseed Meal, Glycerine, Natural Flavor, Natural Hickory Flavoring, Natural Mixed Tocopherols (90%), Potato Starch, Sorbic Acid, Sunflower Lecithin Oil, Water</p>{% endcapture -%}
  76658^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7039830294708,7039829180596,7039829639348||||^^^^^^0^^~~
  {%- capture content %}<h3>Seniorbliss&trade; Soft Chew Ingredients</h3>
<table style="width: 100%; height: 190px;" border="1" width="100%">
<tbody>
<tr style="height: 19px;">
<th style="background-color: #16b9ee; color: #ffffff; width: 75.0706%; height: 19px;" scope="col">Active Ingredients per Chew (4 grams)</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 25.0235%; height: 19px;" scope="col">Amount</th>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Colostrum</td>
<td style="width: 25.0235%; height: 19px;">250 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">EPA</td>
<td style="width: 25.0235%; height: 19px;">90 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Wild Alaskan Salmon Oil</td>
<td style="width: 25.0235%; height: 19px;">75 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">DHA</td>
<td style="width: 25.0235%; height: 19px;">60 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Glucosamine Hydrochloride</td>
<td style="width: 25.0235%; height: 19px;">50 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Hydrolyzed Collagen Peptide</td>
<td style="width: 25.0235%; height: 19px;">50 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Organic Licorice Root</td>
<td style="width: 25.0235%; height: 19px;">50 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Quercetin</td>
<td style="width: 25.0235%; height: 19px;">30 mg</td>
</tr>
<tr style="height: 19px;">
<td style="width: 75.0706%; height: 19px;">Bromelain</td>
<td style="width: 25.0235%; height: 19px;">20 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Vitamin C</td>
<td style="width: 25.0235%;">20 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Vitamin E (12.5 IU)</td>
<td style="width: 25.0235%;">12.5 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">MSM</td>
<td style="width: 25.0235%;">10 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Lactospore</td>
<td style="width: 25.0235%;">500 Million CFUs</td>
</tr>
<tr>
<td style="width: 75.0706%;">Chondroitin Sulfate</td>
<td style="width: 25.0235%;">5 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Niacin (B3)</td>
<td style="width: 25.0235%;">2.5 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Iron (Ferrous Gluconate)</td>
<td style="width: 25.0235%;">1.5 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Zinc (Zinc Gluconate)</td>
<td style="width: 25.0235%;">1 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Vitamin A (500 IU)</td>
<td style="width: 25.0235%;">1 mg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Pyridoxine Hydrochloride (B6)</td>
<td style="width: 25.0235%;">400 mcg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Manganese (Manganese Gluconate)</td>
<td style="width: 25.0235%;">200 mcg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Astaxanthin</td>
<td style="width: 25.0235%;">100 mcg</td>
</tr>
<tr>
<td style="width: 75.0706%;">Cyanocobalamin (B12)</td>
<td style="width: 25.0235%;">3 mcg</td>
</tr>
</tbody>
</table>
<h4>Inactive Ingredients</h4>
<p>Apple Pectin, Arabic Gum, Brewer&rsquo;s Yeast, Chickpea Flour, Fish Oil, Flaxseed Oil, Hickory Flavor, Natural Flavor, Pea Protein, Purified Water, Safflower Oil, Salmon Hydrolysate, Smoked Salmon Flavor, Sunflower Lecithin, Vegetable Glycerin</p>{% endcapture -%}
  76667^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7039933448372,7039932170420,7039933251764||||^^^^^^0^^~~
  {%- capture content %}<h3>INSTRUCTIONS FOR SENIORBLISS&trade; USE</h3>
<p>Give recommended amount once daily. <strong>When starting Seniorbliss&trade; give 1/2 the recommended amount for the first 5&ndash;7 days.</strong> Store in a cool, dry place. For use in dogs 7 years and up.</p>
<h3>Seniorbliss&trade; Soft Chew Administration</h3>
<table style="width: 100%;" border="1" width="100%">
<tbody>
<tr>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Dog's Weight</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 17%;" scope="col">Daily Amount</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 30 ct Pouch</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 60 ct Jar</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 22%;" scope="col">Quantity per 120 ct Jar</th>
</tr>
<tr>
<td style="width: 17%;">Dogs under 25 lbs</td>
<td style="width: 17%;">1 Chew</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
<td style="width: 22%;">&nbsp;120 (4 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs 26-75 lbs</td>
<td style="width: 17%;">2 Chews</td>
<td style="width: 22%;">&nbsp;15 (2 weeks)</td>
<td style="width: 22%;">&nbsp;30 (1 month)</td>
<td style="width: 22%;">&nbsp;60 (2 months)</td>
</tr>
<tr>
<td style="width: 17%;">Dogs over 75 lbs</td>
<td style="width: 17%;">3 Chews</td>
<td style="width: 22%;">&nbsp;10 (1.5 weeks)</td>
<td style="width: 22%;">&nbsp;20 (3 weeks)</td>
<td style="width: 22%;">&nbsp;40 (1.5 months)</td>
</tr>
</tbody>
</table>{% endcapture -%}
  76666^^Instructions & Administration^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7039961694388,7039961301172,7039961563316,7039933448372,7039932170420,7039933251764,7041843167412,7041827274932,7041840906420||||^^^^^^0^^~~
  {%- capture content %}<h3>Seniorbliss&trade; Soft Chew Ingredients</h3>
<table style="width: 100%; height: 254.8px;" border="1" width="100%">
<tbody>
<tr style="height: 19.6px;">
<th style="background-color: #16b9ee; color: #ffffff; width: 75.0706%; height: 19.6px;" scope="col">Guaranteed Analysis per Soft Chew (4 grams)</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 25.0235%; height: 19.6px;" scope="col">&nbsp;</th>
</tr>
<tr style="height: 19.6px;">
<td style="width: 75.0706%; height: 19.6px;">Moisture (Max)</td>
<td style="width: 25.0235%; height: 19.6px;">8%</td>
</tr>
<tr style="height: 19.6px;">
<td style="width: 75.0706%; height: 19.6px;">Crude Fiber (Max)</td>
<td style="width: 25.0235%; height: 19.6px;">8%</td>
</tr>
<tr style="height: 19.6px;">
<td style="width: 75.0706%; height: 19.6px;">FOS (Fructooligosaccharides)</td>
<td style="width: 25.0235%; height: 19.6px;">50 mg</td>
</tr>
<tr style="height: 19.6px;">
<td style="width: 75.0706%; height: 19.6px;">Pumpkin</td>
<td style="width: 25.0235%; height: 19.6px;">200 mcg</td>
</tr>
<tr style="height: 78.4px;">
<td style="width: 75.0706%; height: 78.4px;">Total Microorganisms <em>(Bacillus Coagulans, Lactobacillus acidophilus, Lactobacillus casei subsp. Casei, Lactobacillus fermentum, Lactobacillus reuteri, Lactobacillus plantarum, Bifidobacterium bifidum)</em></td>
<td style="width: 25.0235%; height: 78.4px;">3 Billion CFUs</td>
</tr>
<tr style="height: 19.6px;">
<td style="width: 75.0706%; height: 19.6px;">Enzyme Blend</td>
<td style="width: 25.0235%; height: 19.6px;">30 mg</td>
</tr>
<tr style="height: 19.6px;">
<td style="width: 75.0706%; height: 19.6px;"><em>Protease (Aspergillus oryzae)</em></td>
<td style="width: 25.0235%; height: 19.6px;"><em>10 HUT</em></td>
</tr>
<tr style="height: 19.6px;">
<td style="width: 75.0706%; height: 19.6px;"><em>Amyloglucosidase (Aspergillus niger)</em></td>
<td style="width: 25.0235%; height: 19.6px;"><em>10 AU</em></td>
</tr>
<tr style="height: 19.6px;">
<td style="width: 75.0706%; height: 19.6px;"><em>Bromelain (pineapples &ndash; stem, fruit)</em></td>
<td style="width: 25.0235%; height: 19.6px;"><em>24 GDU</em></td>
</tr>
</tbody>
</table>
<h4>Ingredients</h4>
<p>Brewer&rsquo;s Yeast, Chickpea Flour, Cooked Chicken Powder, Vegetable Glycerin, Purified Water, Sunflower Lecithin, Pea Protein, Pumpkin Powder, Safflower Oil, Dried Lactobacillus acidophilus Fermentation Product, Dried Lactobacillus casei subsp. casei Fermentation Product, Dried Lactobacillus fermentum Fermentation Product, Dried Lactobacillus reuteri Fermentation Product, Dried Lactobacillus plantarum Fermentation Product, Dried Bifidobacterium bifidum Fermentation Product, Bacon Flavor, Iron (Ferrous Gluconate), Fructooligosaccharide (FOS), Glucosamine Hydrochloride, Wild Alaskan Salmon Oil, Fish Oil, Hickory Flavor, Apple Pectin, Natural Flavor, Hydrolyzed Bovine Collagen Type 1 &amp; 3, Ascorbic Acid (Vitamin C), Arabic Gum, Enzyme Blend (Protease, Amyloglucosidase, Bromelian), Dried Bacillus Coagulans Fermentation Product, Methyl Sulfonyl Methane, Zinc Gluconate, Chondroitin Sulfate, Astaxanthin, Niacin (B3), Magnesium Gluconate Anhydrous, Manganese Gluconate Dihydrate, Vitamin A Acetate, Cyanocobalamin (B12), Thiamine Mononitrate (B1)</p>{% endcapture -%}
  76670^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7039961694388,7039961301172,7039961563316||||^^^^^^0^^~~
  {%- capture content %}<h3>How Seniorbliss&trade; Works</h3>
<p>Seniorbliss&trade; line of supplements and shampoos are veterinarian-formulated to support pets throughout their senior years. Each Seniorbliss product uses unique ingredients to support older pets' daily activity, comfort, and overall quality of life. Seniorbliss supplements provide a tasty way to help maintain senior dog&rsquo;s mobility, immune system, GI function, and more. Our shampoos work to support older pets with age-related skin and coat conditions, allergies, and dermatological infections.</p>
<p><strong>Seniorbliss Supplements</strong></p>
<ul>
<li aria-level="1">Specifically designed to support overall health &amp; wellness of senior pets</li>
<li aria-level="1">Contains powerful key vitamins, minerals &amp; essential supporting ingredients</li>
<li aria-level="1">Supports bone, joint, muscle, digestion, heart, liver, kidney, cognition, skin, coat, immunity, &amp; eye function</li>
<li aria-level="1">All-in-1 daily chew in flavors dogs love</li>
</ul>
<p><strong>Seniorbliss Shampoos</strong></p>
<ul>
<li aria-level="1">Senior-specific ingredients to promote healthy aging of skin &amp; coat&nbsp;</li>
<li aria-level="1">Clinical strength veterinary formulas*</li>
<li aria-level="1">Treat bacteria, fungal, and yeast infections*</li>
<li aria-level="1">Relieves itchy &amp; irritated skin from allergies, skin conditions, &amp; hot spots*</li>
<li aria-level="1">Targets natural skin &amp; hair conditions seen with aging</li>
</ul>{% endcapture -%}
  76648^^How Seniorbliss™ Works^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7039910183092,7039908544692,7039909134516,7039961694388,7039961301172,7039961563316,7039933448372,7039932170420,7039933251764|284148302004|||^^^^1^^0^^~~
  {%- capture content %}<h3>Seniorbliss&trade; Soft Chew Ingredients</h3>
<table style="width: 100%; height: 381px;" border="1" width="100%">
<tbody>
<tr style="height: 39.9167px;">
<th style="background-color: #16b9ee; color: #ffffff; width: 38.0056%; height: 39.9167px;" scope="col">Active Ingredients per Chew (4 grams)</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 12.0414%; height: 39.9167px;" scope="col">&nbsp;</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 38.0056%; height: 39.9167px;" scope="col">&nbsp;</th>
<th style="background-color: #16b9ee; color: #ffffff; width: 12.0414%; height: 39.9167px;" scope="col">&nbsp;</th>
</tr>
<tr style="height: 20.3167px;">
<td style="width: 38.0056%; height: 20.3167px;">TriMega&trade; Omega Complex&nbsp;</td>
<td style="width: 12.0414%; height: 20.3167px;">480 mg</td>
<td style="width: 38.0056%; height: 20.3167px;">Magnesium Gluconate</td>
<td style="width: 12.0414%; height: 20.3167px;">2 mg</td>
</tr>
<tr style="height: 20.3167px;">
<td style="width: 38.0056%; height: 20.3167px;">Glucosamine Hydrochloride</td>
<td style="width: 12.0414%; height: 20.3167px;">250 mg</td>
<td style="width: 38.0056%; height: 20.3167px;">Lutein</td>
<td style="width: 12.0414%; height: 20.3167px;">1.5 mg</td>
</tr>
<tr style="height: 20.3167px;">
<td style="width: 38.0056%; height: 20.3167px;">MSM</td>
<td style="width: 12.0414%; height: 20.3167px;">50 mg</td>
<td style="width: 38.0056%; height: 20.3167px;">Iron (Ferrous Gluconate)</td>
<td style="width: 12.0414%; height: 20.3167px;">1.5 mg</td>
</tr>
<tr style="height: 20.3167px;">
<td style="width: 38.0056%; height: 20.3167px;">Chondroitin Sulfate</td>
<td style="width: 12.0414%; height: 20.3167px;">25 mg</td>
<td style="width: 38.0056%; height: 20.3167px;">Zinc (Zinc Gluconate)</td>
<td style="width: 12.0414%; height: 20.3167px;">1 mg</td>
</tr>
<tr style="height: 20.3167px;">
<td style="width: 38.0056%; height: 20.3167px;">Vitamin C</td>
<td style="width: 12.0414%; height: 20.3167px;">25 mg</td>
<td style="width: 38.0056%; height: 20.3167px;">Vitamin D3 (75 IU)</td>
<td style="width: 12.0414%; height: 20.3167px;">0.75 mg</td>
</tr>
<tr style="height: 39.9167px;">
<td style="width: 38.0056%; height: 39.9167px;">Hydrolyzed Collagen Peptide</td>
<td style="width: 12.0414%; height: 39.9167px;">20 mg</td>
<td style="width: 38.0056%; height: 39.9167px;">Astaxanthin</td>
<td style="width: 12.0414%; height: 39.9167px;">500 mcg</td>
</tr>
<tr style="height: 39.9167px;">
<td style="width: 38.0056%; height: 39.9167px;">Enzyme Blend (Protease, Amyloglucoside, Bromelain)</td>
<td style="width: 12.0414%; height: 39.9167px;">15 mg</td>
<td style="width: 38.0056%; height: 39.9167px;">Pyridoxine Hydrochloride (B6)</td>
<td style="width: 12.0414%; height: 39.9167px;">400 mcg</td>
</tr>
<tr style="height: 39.9167px;">
<td style="width: 38.0056%; height: 39.9167px;">Vitamin E (12.5 IU)</td>
<td style="width: 12.0414%; height: 39.9167px;">12.5 mg</td>
<td style="width: 38.0056%; height: 39.9167px;">Riboflavin (B2)</td>
<td style="width: 12.0414%; height: 39.9167px;">300 mcg</td>
</tr>
<tr style="height: 59.5167px;">
<td style="width: 38.0056%; height: 59.5167px;">Lactospore&reg;</td>
<td style="width: 12.0414%; height: 59.5167px;">500 Million CFUs</td>
<td style="width: 38.0056%; height: 59.5167px;">Manganese (Manganese Gluconate)</td>
<td style="width: 12.0414%; height: 59.5167px;">200 mcg</td>
</tr>
<tr style="height: 39.9167px;">
<td style="width: 38.0056%; height: 39.9167px;">Niacin (B3)</td>
<td style="width: 12.0414%; height: 39.9167px;">2.5 mg</td>
<td style="width: 38.0056%; height: 39.9167px;">Thiamine Mononitrate (B1)</td>
<td style="width: 12.0414%; height: 39.9167px;">150 mcg</td>
</tr>
<tr style="height: 20.3167px;">
<td style="width: 38.0056%; height: 20.3167px;">Vitamin A (1000 IU)</td>
<td style="width: 12.0414%; height: 20.3167px;">2 mg</td>
<td style="width: 38.0056%; height: 20.3167px;">Cyanocobalamin (B12)</td>
<td style="width: 12.0414%; height: 20.3167px;">3 mcg</td>
</tr>
</tbody>
</table>
<h4>Inactive Ingredients</h4>
<p>Apple Pectin, Arabic Gum, Brewer&rsquo;s Yeast, Chicken Flavor, Chickpea Flour, Cooked Chicken Powder, Fish Oil, Flaxseed Oil, Hickory Flavor, Natural Flavor, Pea Protein, Purified Water, Safflower Oil, Sunflower Lecithin, Vegetable Glycerin, Wild Alaskan Salmon Oil</p>{% endcapture -%}
  76815^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^7041843167412,7041827274932,7041840906420||||^^^^^^0^^~~
  {%- capture content %}<h3>Directions for Use</h3>
<p>Give the recommended amount 30-45 minutes prior to the desired effect. Can also be given for daily use. If needed, safe to increase to twice the recommended amount. Store in a cool, dry place. For use in dogs over 12 weeks of age.</p>
<h3>Petbliss&trade; Soft Chew Administration</h3>
<table border="1" width="100%">
<tbody>
<tr>
<th scope="col">Dog's Weight</th>
<th scope="col">Daily Amount</th>
</tr>
<tr>
<td>Dogs under 15 lbs</td>
<td>1 Chew</td>
</tr>
<tr>
<td>Dogs 15-25 lbs</td>
<td>2 Chews</td>
</tr>
<tr>
<td>Dogs 26-50 lbs</td>
<td>3 Chews</td>
</tr>
<tr>
<td>Dogs over 75 lbs</td>
<td>4 Chews</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><strong>Cautions:</strong> Safe use in pregnant animals or animals intended for breeding has not been proven.</p>
<p><strong>Warning:</strong> Not for human consumption. Keep out of the reach of children and animals. In case of accidental overdose, contact a health professional immediately.</p>{% endcapture -%}
  93805^^Instructions & Administration^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6702972141748,7252039663796,6702970568884,7252039729332,6702971355316,7252039532724||||^^^^^^0^^~~
  {%- capture content %}<h3>Petbliss&trade; Soft Chew Ingredients</h3>
<table border="1" width="100%">
<tbody>
<tr>
<th scope="col">Active Ingredients per Chew (4 grams)</th>
<th scope="col">Amount</th>
</tr>
<tr>
<td>Chamomile</td>
<td>150 mg</td>
</tr>
<tr>
<td>Thiamine Mononitrate</td>
<td>100 mg</td>
</tr>
<tr>
<td>Valerian Root</td>
<td>75 mg</td>
</tr>
<tr>
<td>Passion Flower</td>
<td>60 mg</td>
</tr>
<tr>
<td>Lemon Balm</td>
<td>50 mg</td>
</tr>
<tr>
<td>L-Tryptophan</td>
<td>30 mg</td>
</tr>
<tr>
<td>L-Theanine</td>
<td>30 mg</td>
</tr>
<tr>
<td>Magnesium Gluconate</td>
<td>8 mg</td>
</tr>
</tbody>
</table>
<h4>Inactive Ingredients</h4>
<p>Brewer&rsquo;s Yeast, Chickpea Flour, Cooked Chicken Powder, Glycerin, Sunflower Lecithin, Purified Water, Safflower Oil, Pea Protein, Smoked Hickory Flavor, Natural Flavor, Apple Pectin, Arabic Gum, Ascorbic Acid, Vitamin E (d-&alpha;-tocopherol)</p>{% endcapture -%}
  93806^^Ingredients^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^6702972141748,7252039663796,6702970568884,7252039729332,6702971355316,7252039532724||||^^^^^^0^^~~
{%- endcapture -%}
{%- assign tabs_array = tabs | strip | split: '~~' -%}
{%- assign p_id_str = product.id | downcase -%}
<!-- begin station shared tab data -->
{%- for item in tabs_array -%}
  {%- assign tab = item | split: '^^' -%}
  {%- assign hndl = tab[1] | replace: '&amp;', '' | handleize -%}
  {%- capture tab_output -%}
    <div id="station-tabs-data-{{ tab[0] }}" class="station-tabs-data-item" style="display:none;" data-position="{{ tab[5] | default: -1 }}">
      <a id="st-link-{{ hndl }}" class="station-tabs-link" href="#{{ hndl }}"><span>{{ tab[1] }}</span></a>
      <div id="st-{{ hndl }}" class="station-tabs-content">
        <div class="station-tabs-content-inner">{{ tab[2] }}</div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign asn = tab[3] | split: '|' -%}
  {%- assign p_ids = asn[0] | split: ',' -%}
  {%- assign e_ids = tab[4] | split: ',' -%}
  {%- unless tabs_order contains tab[0] %}{% continue %}{% endunless -%}
  {%- if e_ids contains p_id_str %}{% continue %}{% endif -%}
  {%- if tab[7] != blank%}
    {%- assign t_lcl = tab[7] | downcase -%}
    {%- assign s_lcl = request.locale.iso_code | downcase -%}
    {%- if t_lcl != s_lcl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if asn[0] == '0' or asn[1] == '0' -%} 
    {{ tab_output }}{% continue -%}
  {%- endif -%}
  {%- assign col_ids = asn[1] | split: ',' -%}
  {%- assign tags = asn[2] | split: ',' -%}
  {%- assign tps = asn[3] | split: ',' -%}
  {%- assign vndr = asn[4] | split: ',' -%}
  {%- if tab[6] == '1' %}{% assign all = true %}{% else %}{% assign all = false %}{% endif -%}
  {%- if asn[0] != blank -%}
    {%- assign all = false -%}
    {%- if p_ids contains p_id_str -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if tps.size > 1 or vndr.size > 1 %}{% assign all = false %}{% endif -%}
  {%- assign cncl = false -%}
  {%- if col_ids.size > 0 -%}
    {%- assign cols = product.collections | map: 'id' | downcase -%}
    {%- for c in col_ids -%}
      {%- if all -%}
        {%- unless cols contains c %}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif cols contains c -%}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tags.size > 0 -%}
    {%- for t in tags -%}
      {%- if all -%}
        {%- unless product.tags contains t -%}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif product.tags contains t %}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif - %}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tps.size > 0 -%}
    {%- if all and tps[0] != product.type -%}
      {%- continue -%}
    {%- elsif all == false and tps contains product.type %}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if vndr.size > 0 -%}
    {%- if all and vndr[0] != product.vendor -%}
      {%- continue -%}
    {%- elsif all == false and vndr contains product.vendor -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if all %}{{ tab_output }}{% endif -%}
{%- endfor -%}
<!-- end station shared tab data -->